<!-- Header Buttons -->
<div class="d-flex justify-content-end gap-3 mb-3">
  <i class="fas fa-plus-circle icon-btn text-primary" (click)="onAdd()" data-bs-toggle="tooltip" title="Add New Employee"></i>
  <i class="fas fa-check-circle icon-btn text-success" (click)="onSave()" [class.disabled]="!showForm" data-bs-toggle="tooltip" title="Save Employee"></i>
  <i class="fas fa-times-circle icon-btn text-secondary" (click)="onCancel()" [class.disabled]="!showForm" data-bs-toggle="tooltip" title="Cancel Changes"></i>
  <i class="fas fa-pen icon-btn text-warning" (click)="onEditClick()" data-bs-toggle="tooltip" title="Edit Employee"></i>
  <i class="fas fa-user-minus icon-btn text-danger" (click)="onDelete()" data-bs-toggle="tooltip" title="Delete Employee"></i>
  <i class="fas fa-id-card icon-btn text-info" (click)="onView()" data-bs-toggle="tooltip" title="View Employee Details"></i>
</div>



<!-- Show form only if showForm is true -->
<app-employee-form
  *ngIf="showForm"
  (formSaved)="onEmployeeSaved($event)"
></app-employee-form>

<!-- List below -->
<app-employee-list
  (selectedEmployeeChange)="onEmployeeSelected($event)"
></app-employee-list>


<!-- Toast Popup (center screen) -->
<div *ngIf="showToast" class="position-fixed top-50 start-50 translate-middle z-3">
  <div class="toast show text-white px-4 py-3 rounded shadow"
       [ngClass]="{
         'bg-success': toastType === 'success',
         'bg-danger': toastType === 'danger',
         'bg-warning': toastType === 'warning',
         'bg-info': toastType === 'info'
       }">
    <div [innerHTML]="isHtmlToast ? toastMessage : ''"></div>
    <div *ngIf="!isHtmlToast">{{ toastMessage }}</div>
  </div>
</div>

